<header>
  <nav class="nav">
    <div class="container d-flex">
      <a class="logo" href="#">
        <picture>
          <img
            src="assets/img/logo.svg"
            alt="logo"
            loading="lazy"
            class="logo"
          />
          <source srcset="assets/img/logo.webp" type="image/webp" />
          <source srcset="assets/img/logo.jpg" type="image/jpeg" />
        </picture>
      </a>
      <ul class="d-flex nav__list">
        <li class="title title__nav nav__item">
          <a class="nav__link" href="#">HOME</a>
        </li>
        <li class="title title__nav nav__item">
          <a class="nav__link" href="#">ABOUT</a>
        </li>
        <li class="title title__nav nav__item">
          <a class="nav__link" href="#">CONTACT</a>
        </li>
        <li class="title title__nav nav__item">
          <a class="nav__link" href="#">SIGN IN</a>
        </li>
        <li class="title title__nav nav__item">
          <a class="nav__link nav__link--button" href="#">SIGN UP</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <section class="section-1">
    <div class="container row-2">
      <h1 class="title title__main">
        Responsive layout
        <span class="title__gold">using scss and grid</span>
      </h1>
      <div>
        <p class="text text__main">
          Lorem ipsum dolor sit amet, consectetur 3 adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="title title__button" href="#">I want to learn</a>
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="container row-3">
      <div class="col">
        <h3 class="title title__md title__gold">Mobile-first</h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
      </div>
      <div class="col">
        <h3 class="title title__md title__gold">Efficient</h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
      </div>
      <div class="col">
        <h3 class="title title__md title__gold">Done right</h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="container">
      <div class="row-2">
        <div class="col col-bg">
          <h2 class="title title__lg title__gold">
            Implemented and made responsive by using grid
          </h2>
          <p class="text text__lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam.
          </p>
          <img
            class="image"
            src="assets/img/the-image.jpg"
            alt="an image"
            loading="lazy"
          />
          <p class="text text__lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam.
          </p>
        </div>
        <div class="col col-sm">
          <div class="col-3">
            <h3 class="title title__md">Used grid</h3>
            <p class="text__md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-3">
            <h3 class="title title__md">Used SCSS</h3>
            <p class="text__md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-3">
            <h3 class="title title__md">Made responsive</h3>
            <p class="text__md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div class="container">
      <h2 class="title title__footer">
        mobile first responsive layout with grid
      </h2>
      <div class="row-footer">
        <div class="col footer-col">
          <h4 class="title title__sm title__gold">About our company</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et doloremagnaaliqua.Ut enim ad
            minim veniam.
          </p>
        </div>
        <div class="col footer">
          <h4 class="title title__sm title__gold">Getting around</h4>
          <p class="text text__sm">Home</p>
          <p class="text text__sm">About</p>
          <p class="text text__sm">Contact</p>
        </div>
        <div class="col footer">
          <h4 class="title title__sm title__gold">Other things</h4>
          <p class="text text__sm">Lorem ipsum</p>
          <p class="text text__sm">dolor</p>
          <p class="text text__sm">sit amet</p>
          <p class="text text__sm">consectetur</p>
        </div>
        <div class="col footer">
          <h4 class="title title__sm title__gold">And more</h4>
          <p class="text text__sm">Lorem ipsum</p>
          <p class="text text__sm">dolor</p>
          <p class="text text__sm">sit amet</p>
          <p class="text text__sm">consectetur</p>
        </div>
      </div>
    </div>
  </section>
</main>
